*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 15px;
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
}

.container {
    width: 450px;
    margin: auto;
    background: rgb(17, 114, 114);
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
}

button {
    
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}   
    
li {
    list-style: none;
    background: #eee;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}